/* Шрифты */

@font-face {
    font-family: Ubuntu;
    src: url('fonts/UbuntuRegular.woff2') format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url('fonts/UbuntuBold.woff2') format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('fonts/LatoBold.woff2') format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('fonts/LatoBlack.woff2') format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

:root {
--colorOrange: #ff5a30;
/*  цвет кнопки send */
--whitehfa: #fff;
/* Белый цвет заголовка абзаца в хэдере на первой странице */
--colorPinkr: #f52a6e;
/* цвет круга розовый */
--colorCelblue: #5a87fc;
/* цвет круга синий */
--colorGreen: #03cea4;
/* цвет круга зелёный */
--colororangero: #f89828;
/* цвет круга оранжевый */
--graydark: #1e212c;
/* Цвет футера первой страницы тёмно-серый */
--abzaccolor: #1f222d;
/*  цвет абзаца Learn more about our services */
/* А также Explore all our worcs */
--graydark: #1e212c;
/*  цвет абзаца Supported by 12+ partners и
далее все заголовки тёмно-серого цвета*/
/* --headerColor2: #f4f5f6; */
/* цвет хэдера второй страницы */
--graydark: #1e212c;
/*  Тёмный абзац Our core values на первой странице */
--ourcorvallitla: #888a90;
/* ourcorval маленький абзац на первой странице светло
 серый цвет под our core values как описание */
--footerwhite1: #fff;
/* Цвет белого текста в футере на первой странице */
--grayLite2: #787a80;
/* Цвет светло-серый на второй странице. 
скорее всего абзацы их заголовки точнее в д.сл. описание*/
--graydark: #1e212c;
/*  Тёмно-серый цвет на второй странице. скорее всего заголовки
абзацыев */
--grayLite23: #f4f5f6;
/*  Светло-серый цвет на второй странице 
там фото на вс.сл. */
/* --headergrayLite2:  #f4f5f6; */
/*  Светло-серый цвет в хэдере 22 */
--whitefooter2: #fff;
/*  Белый цвет в футере в словах. 222 */
--graylitefooter2: #a7a3a8;
/*  Светло-серый цвет в футере 222 */
/* --graydark3: #1e212c; */
/*  Тёмно серый цвет заголовка абзаца на 
третьей странице до заголовка со словом bedroom, после
пойдут другие цвета*/
--numbergc: #d7dadd;
--orangenum: #ff5a30;
/*  Светло-серый цвет цифр на третьей странице 01 02 03-oarngenum */
--gray3: #787a80;
/*  Заголовок мелкого абзаца на третьей странице 
серый цвет под словами basic и price*/

/* Структура */

/* Атомарные классы */
body {
    margin: 0;
}
.container {
	width: clamp(320px, 100%, 1230px); 
	margin-inline: auto; 
	box-sizing: border-box;
}
.field_area label {
	display: block;
}
.bimg {
    display: block;  
    width: 100%;
}
h1.title1 {
    font-size: 2.5em;
    font-weight: 900;
    color: #1e212c;
    margin: 0 0 15px;
}

h2.title {
    font-size: 2.5em;
    font-weight: 900;
    color: #1e212c;
    margin: 0 0 15px;
    &.s1 {
        color: #fff;
    }
    &.s2 {
        text-align: center;
    }
    &.s3 {
        text-align: center;
        color: #fff;
    }
    &.s4 {
        text-align: left;
        color: #1e212c;
        font-size: 1em;
    }
    &.s5 {
        text-align: center;
        color: #1e212c;
        font-size: 2em;
    } 

}

.btn {
    text-decoration: none;
    background-color: #fff;
    padding: 15px 37px;
    color: #ff5a30;
    font-weight: 400;
    font-size: 0.8em;
    border-radius: 3px;
    border: 1px solid #ff5a30;
    display: inline-block;
    &.invert {
        color: #fff;
        background-color: var(--orangenum);
    }
    &.s2 {
        color: #fff;
        padding: 15px 40px;
        background-color: #ff5a30;
    }
    &.s3 {
        color: #fff;
        padding: 15px 30px;
        background-color: #ff5a30;
    }
    &.s4 {
        padding: 15px 25px;
        background-color: var(--orangenum);
        color: #fff;
    }
    &.s5 {
        padding: 15px 50px;
        color: #fff;
        background-color: #ff5a30;
    }
    &.s6 {
        padding: 20px 35px;
        text-decoration: none;
        background-color: #fff;
        color: #ff5a30;
        font-weight: 400;
        font-size: 0.8em;
        border-radius: 3px;
        border: 1px solid #ff5a30;
        display: inline-block;
    }
    &.s6:hover {
        color: #fff;
        background-color: #ff5a30;
    }
}
/*.btn.s3 {
    text-decoration: none;
    color: #fff;
    background-color: #ff5a30;
    color: #fff;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 0.8em;
    border-radius: 2px;
    border: 1px solid #ff5a30;
    display: inline-block;
}
.btn.s4 {
    text-decoration: none;
    padding: 15px 20px;
    background-color: #ff5a30;
    color: #fff;
    font-weight: 400;
    font-size: 0.8em;
    border-radius: 2px;
    border: 1px solid #ff5a30;
    display: inline-block;
}
.btn.s5 {
    text-decoration: none;
    padding: 15px 50px;
    background-color: #ff5a30;
    color: #fff;
    font-weight: 400;
    font-size: 0.8em;
    border-radius: 2px;
    border: 1px solid #ff5a30;
    display: inline-block;
}*/



/* Каскадный БЭМ */
.header_1 {
    width: clamp(320px, 100%, 3000px);
    display: block;
}
.header_1 {
    .link {
        text-decoration: none;
        color: #1e212c;
    }
}
.header_1 .row.c1 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .menu_area {
        display: flex;
        gap: 20px;
        .menu {
            text-decoration: none;
            color: #424551;
        }
    }
    .contacts_area {
        display: flex;
        gap: 10px;
        .contact {
            position: relative;
            padding-left: 50px;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: "";
                width: 40px;
                height: 40px;
            } 
            &.c1:before {
                background-image: url("images/home_page/header/contacts/call.svg"); 
            }
            &.c2:before {
                background-image: url("images/home_page/header/contacts/talk.svg");
            }       
        } 
    }
}
.header_1 .slider1 {
    padding: 2px;
    box-sizing: border-box;
    .item {
        position: relative;
        .content {
            position: absolute;
            top: 30%;
            left: 20%;
            transform: translate(-10%, -25%);
            .title_area {
                color: #fff;
                font-size: 3em;
                font-weight: bold;
                margin-bottom: 50px;
                .title2:after {
                    content: "x";
                    color: #ff5a30;
                    font-size: 1.6em;
                }
            }
        }
    }
}

/* TODO: 10 пересечение правил происходит при их повторении
и от этого они могут сбивать вёрстку */
/* Высота background для мобильных экранов
 подгоняется адаптивностью */

.header_1 .slider1 {
    .descr {
        color: #fff;
    }
    .btnn_area {
        display: flex;
        gap: 15px;
        margin-bottom: 50px;
        .button.c1 {
            border: 1px solid #fff;
            padding: 15px 30px;
            background-color: #676d74;
            opacity: 100%;
            border-radius: 4px;
        }
        .button {
            text-decoration: none;
            color: #fff;
        }
    }
}
.header_1 .slider1 {
    padding: 2px;
    box-sizing: border-box;
    .item {
        img {
            display: block;
            width: 100%;
        }
    }
}



#about .container {
    text-align: center;
    .videoblock {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        height: 500px;
        .videoplay {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 10;
            border-radius: 100%;
            width: 80px;
            height: 80px;
            background-color: var(--color-primary);
            transform: translate(-50%,-50%);
            transition: background-color .3s ease-in-out,opacity .3s ease-in-out,visibility .3s ease-in-out;
        }
    }
}
#about  {
    background-color: #fff;
    .videocontent {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

#mission .container.c1 {
    text-align: center;
    .title2 {
        color: var(--ourcorvaldarc);
        font-size: 2.4em;
        font-weight: bold;
    }
    .title6  {
        font-size: 1.2em;
        color: #787a80;
    }
    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-top: 60px;
        margin-bottom: 90px;
        .item {
            text-decoration: none;
            border-left: 1px solid #dbdbdd;
        }
        .item.c1 {
            border-left: none;
        }
            .title4 {
                color: var(--graydark);
                font-size: 1.2em;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 20px;
                .descr {
                    color: #787a80;
                }
            }
        }
    }
}
#mission .email {
    margin-top: 90px;
    margin-bottom: 50px;
    .title {
        color: var(--graydark);
        font-size: 2em;
        text-align: center;
    }
    .knowform {
        display: grid;
        grid-template-columns: 2fr 2fr 4fr 1fr;
        gap: 20px;
        .label {
            text-align: left;
        }
        .name {
            margin-top: 8px;
            padding: 20px 30px;
            display: block;
            width: 100%;
            border: 1px solid #212121;
            box-sizing: border-box;
            text-align: left;
        }
        .phone {
            margin-top: 8px;
            padding: 20px 30px;
            display: block;
            width: 100%;
            border: 1px solid #212121;
            box-sizing: border-box;
            text-align: left;
        }
        .message {
            margin-top: 8px;
            padding: 20px 30px;
            display: block;
            width: 100%;
            border: 1px solid #212121;
            box-sizing: border-box;
        }
        .btn.s2 {
            margin-top: 32px;
        }
    }
}


#services .container {
    background-color: #f4f5f7;
    text-align: center;
    .title2 {
        color: #1e212c;
        font-size: 2.4em;
        font-weight: bold;
    }
    .descr {
        color: #87898f;
    }
} 
#services .wrap {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 15px;
    padding: 20px;
    .item {
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 50px;
        background-color: #fff;
    }
    .item:hover {
        background-color: #1e212c;
        svg {
            path {
                fill: #fff;
            }
        }
    }
    .item.c1:hover {
        background-image: url("images/home_page/services/1.png");
    }
    .item .title6 {
        color: #1e212c;
    }
    .item:hover {
        .title6 {
            color: #fff;
        }   
    }
}
#services .learnmore {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    background-color: #f9f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
    .explore {
        color: #1e212c;
        font-weight: bold;
        font-size: 1.5em;
        padding-top: 3px;
    }  
}

#portfolio {
    background-color: #f3f4f4;
    .item {         
        position: relative;
        .inner {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
        }
        .btn.invert {
            display: none;
        }
        &:hover .btn.invert {
            display: inline-block;
        }
    }
}
#portfolio .wrap_1 {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 20px;
    .inner {
        text-align: center;
    }
}
#portfolio .explnewpost {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    background-color: #f9f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    .explore {
        color: #1e212c;
        font-weight: bold;
        font-size: 1.5em;
    }
}
#portfolio .item:hover .btn {
    text-decoration: none;
    background-color: #fff;
    padding: 10px 37px;
    color: #ff5a30;
    font-weight: bold;
    font-size: 0.8em;
    border: 1px solid #ff5a30;
    border-radius: 3px;
    margin-top: 15px;
} 

#partners .row_descr {
    display: grid;
    grid-template-columns: 7fr 5fr;
    text-align: left;
    padding-top: 100px;
}
#partners .descr {
    color: #424551;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 1.5em;
}
#partners {
    background-color: #f4f5f6;
    .container {
        padding-top: 30px;
        padding-bottom: 40px;
        .title {
            text-align: center;
            font-size: 3em;
            padding-bottom: 20px;
        } 
        .menu1 {
            display: grid;
            grid-template-columns: repeat(6, 2fr);
            padding-bottom: 20px;
        }  
        .row_descr {
            display: grid;
            grid-template-columns: 7fr 5fr;
            text-align: left;
            padding-top: 100px;
            padding-bottom: 100px;
            .third_title {
                font-size: 2.5em;
                margin: 0 0 15px;
            }
            .descr {
                color: #424551;
                padding-top: 20px;
                padding-bottom: 20px;
                line-height: 30px;
                font-size: 1em;
            }
            .name_area {
                font-size: 1em;
                font-weight: bold;
                padding-bottom: 15px;
            }
            .about_shawn {
                color: #97999d;
                font-size: 1em;
            }
        }
    }
}

#facts.block {
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
       text-align: center;
       .title2 {
            font-size: 2em;
            padding-bottom: 30px;
            font-weight: 800;
        }
    }
}
#facts .wrap {
    gap: 15px; 
    justify-content: center;
    display: flex;
    .item {
        .circle_area {
            position: relative;
        }
        .value {
            position: absolute;
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            font-weight: 800;
        }
        .descr_area {
            font-size: 0.7em;
            font-weight: 300;
            margin-top: 40px;
        } 
    }
}

#recentnews .wrap {
    display: grid;
    grid-template-columns: 7fr 5fr;  
    gap: 20px; 
    grid-template-areas: 
    "a b"
    "a c";
    .item {
        &.c1 {
            grid-area: a;
        }
        &.c2 {
            grid-area: b;
        }
        &.c3 {
            grid-area: c;
        }
        .descr:hover {
            color: #ff5a30;
        }
        .descr {
             padding-left: 20px;
             padding-top: 15px;
             padding-bottom: 15px;
             font-weight: 800;
        }
        .dscr {
            color: #5a5c67;
            font-size: 1em;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left: 20px;
        }
        .links {
            display: flex;
            justify-content: flex-start;
            gap: 5px;
            padding-left: 20px;
            .link {
                text-decoration: none;
                color: #71737d;
            } 
            .link.c1, .link.c2 {
                border-right: 1px solid #aaabaf;
                padding-right: 10px;
            }   
        }
    } 
}
#recentnews .explnewpost {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    background-color: #f9f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
    .explore {
        color: #1e212c;
        font-weight: bold;
        font-size: 1.5em;
        padding-top: 3px;
    }
}
#recentnews .title_second {
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

#contacts {
    background: url("images/home_page/quickemail/1.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: top center;
    background-size: cover;
    .container {
        display: flex;
        justify-content: flex-end;
        .contacts-form {
            display: grid;
            grid-template-columns: 5fr;
            gap: 30px;
            max-width: 495px;
            width: 100%;
            box-sizing: border-box;
            background-color: #fff;
            padding: 30px 30px;
            margin: 40px 0 50px;
            .title {
                font-weight: bold;
                font-size: 1em;
                color: #1e212c;
                text-align: center;
            }
            .field_area.c1 {
                text-align: center;
            }
            .field_area {
                text-align: left;
                .name, .phone, .email {
                    background-color: #f4f5f6;
                    color: #9a9ca5;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 10px 60px 10px 10px;
                    border: 1px solid #d7dadd;
                }
                .message {
                    background-color: #f4f5f6;
                    color: #9a9ca5;
                    padding: 15px 60px 15px 10px;
                    border: 1px solid #d7dadd;
                    width: 100%;
                    display: block;
                    box-sizing: border-box;
                }
                .checkbox {
                    background-color: #ff5a30;
                }
            } 
        }  
    }
}

footer {
    background-color: #1e212c;
    padding: 50px 100px;    
}
footer .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    .title {
        color: #fff;
        font-size: 1.3em;
        padding-bottom: 20px;
        font-weight: 600;   
    }
    .footer_title {
        color: #fff;
        font-weight: bold;
        font-size: 0.8em;
        padding-bottom: 20px;
    }
}
footer {
    .link.c1 {
        background-image: url("images/home_page/footer/socnet/1.svg");
    }
    .link.c2 {
        background-image: url("images/home_page/footer/socnet/2.svg");
    }
    .link.c3 {
        background-image: url("images/home_page/footer/socnet/3.svg");
    }
    .link.c4 {
        background-image: url("images/home_page/footer/socnet/4.svg");
    }
    .link.c5 {
        background-image: url("images/home_page/footer/socnet/5.svg");
    }
    .link {
        background-repeat: no-repeat;
    }
}
footer .descr {
    color: #a5a6ab;
    font-size: 0.8em;
    padding-top: 15px;
}
footer .link_area .link {
    display: block;
    color: rgba(255,255,255,.6);
    text-decoration: none;
}
footer .office_item .link {
    color: rgba(255,255,255,.6);
    text-decoration: none;
}
footer .logo {
    color: #fff;
}
footer .office_item {
    display: flex;
    gap: 15px;
    .label {
        color: #fff;
    }
}
footer .col.c2 {
    display: grid;
    grid-column: 5 span;
    .textarea {
        padding: 10px 120px 10px 15px;
        background-color: #393c46;
        color: #a1a2a7;
        border-radius: 3px;
        border: 1px solid #61636b;
    }
}
footer {
    & .col.c1 {
        grid-column: 7 span;
    }
    & .col.c3 {
        grid-column: 5 span;
        .link {
            padding-bottom: 20px;
        }
    }
    & .col.c4 {
        grid-column: 2 span;
        .link {  
            padding-bottom: 20px;
        }
    }
    & .col.c5 {
        grid-column: 5 span;
        .link {  
            padding-bottom: 20px;   
        } 
    }
    & .col.c6 {
        grid-column: 12 span;
        color: #c7c7ca;
    }
}
footer .socnet {
    display: flex;
    gap: 15px;
    .link {
        background-repeat: no-repeat;
        display: block;
        width: 24px;
        height: 24px;
    }
}
footer .logo_area {
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
    .logo {
        width: clamp(35px, 100%, 142px);
    }
    .socnet {
        display: flex;
        gap: 15px;
        .link {
            background-repeat: no-repeat;
            display: block;
            width: 24px;
            height: 24px;
        }
    }
}



