#header3 .container {
	display: grid;
	grid-template-columns: 7fr 5fr;
	gap: 30px;
}
#header3 {
	background: url("images/header2/1.png");
}
#header3 .col.c2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}