/* Атомарные классы */
.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;  
}
body {
    margin: 0;
}

/*БЭМ*/
header {
    background: url("images/page3/header3/1.png");
    background-size: cover;
    background-repeat: no-repeat;
/*    margin: 0; */
    /* width: 975px;
    height: 600px; */
  /*  max-width: 1920px;
    max-height: 900px;
    width: 100%;
    height: 100%; */
/*  display: block; */
   /* display: block;
    width: 100%;*/
/* Почему эти правила не работают и как сделать
 background не фиксированного размера  */
    height: 600px;
    .link {
        text-decoration: none;
        color: #1e212c;
    }
}

header .container {
    .links {
        padding-bottom: 30px;
        .link {
            color: #585b66;
        }
    }
    .contacts-area {
        padding-bottom: 30px;
    }
}
header .col.c3 .title2 {
    color: #1e212c;
    font-size: 3em;
    font-weight: 900;
}
header .col.c3 .descr {
    color: #97989e;
    font-size: 1em;
}


header .row.c1 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
    .menu_area {
        display: flex;
        gap: 20px;
        .menu {
            text-decoration: none;
            color: #424551;
        }
    }
    .contacts_area {
        display: flex;
        gap: 10px;
        .contact {
            position: relative;
            padding-left: 50px;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: "";
                width: 40px;
                height: 40px;
            } 
            &.c1:before {
                background-image: url("images/services/header2/contacts/call.svg"); 
            }
            &.c2:before {
                background-image: url("images/services/header2/contacts/talk.svg");
            }       
        } 
    }
}

#weoffer {
    background-color: #fff;
}
#weoffer_3 .row.c1 {
    display: grid;
    grid-template-columns: 7fr 5fr;
    padding-bottom: 50px;
    gap: 60px;
}
#weoffer_3 .row.c2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#weoffer_3 .title_2 {
   font-size: 3em;
   color: #000;
   font-weight: 900;
}
#weoffer_3 .name {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
    color: #1e212c;
    font-size: 1.5em;
    position: relative;
}

#weoffer_3 .name.c1:before {
    content: "-";
    color: #ff5a30;
    font-size: 1.2em;
    line-height: 17px;
    position: absolute;
    left: -20px;
    top: 20px; 
/*    TODO: 11 Правильный ли синтаксис;*/
}
#weoffer_3 .name.c2:before {
    content: "+";
    color: #ff5a30;
    font-size: 1.2em;
    position: absolute;
    left: -20px;
    top: 17px; 
    /* TODO: 11 Правильный ли синтаксис;*/
}
#weoffer_3 .descr {
    color: #9a9ba0;
    font-size: 1em;
}
#weoffer_3 .number:hover {
    color: #ff5a30;
}
#weoffer_3 .number {
    color: #d7dadd;
    font-size: 2.5em;
    font-weight: 800;
}
#weoffer_3 .title_offer {
   font-size: 3em;
   color: #1e212c;
   font-weight: 900;
   padding-top: 50px;
   padding-bottom: 50px;
}
#benefits .row {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 30px;
    padding-top: 50px;
}
#benefits {
    background-color: #1e212c;
}
#benefits .container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
#benefits .image {
    padding-bottom: 25px;
}
#benefits .title_2 {
    color:#fff;
    font-size: 3em;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 35px;
}
#benefits .name {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 15px;
}
#benefits .descr {
    color:#94959b;
}
#benefits .item.c2 {
    border-left: 1px solid #686a72;
    border-right: 1px solid #686a72;
}
#benefits .btn.c4 {
    text-decoration: none;
    background-color: #ff5a30;
    padding: 15px 37px;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 3px;
    width: 15%;
}
#related_projects {
    background-color: #f3f3f4;
   /* opacity: 0.5;
    filter: alpha(opacity=50);*/
/*    TODO: 12 как сделать полупрозрачную цветовую растяжку*/
}
#related_projects .title_2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #1e212c;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 10px;
}
/* TODO: 12 Почему title_2 c item аходятся на разном уровне? */
#related_projects .wrap {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
}
#related_projects .item {
    text-align: center;
    background-color: #fff;    
}
#related_projects .item .name{
    color: #1e212c;
    font-size: 1em;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}
#related_projects .item .descr{
    color: #9a9ba0;
    font-size: 0.8em;
    font-weight: 400;
    padding-bottom: 30px;
}
#related_projects .item .btn.c2 {
    display: none;
}
#related_projects .item:hover .btn.c2 {
    display: inline-block;
}
#related_projects .item:hover .image {
    width: 400px;
    height: 280px;
    object-fit: cover;
}
#related_projects .item .btn.c2 {
    text-decoration: none;
    background-color: #fff;
    padding: 15px 37px;
    color: #ff5a30;
    font-weight: 400;
    font-size: 0.8em;
    border-radius: 2px;
    border: 1px solid #ff5a30;
} 
#related_projects .explnewpost {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    background-color: #f9f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
    .explore {
        color: #1e212c;
        font-weight: bold;
        font-size: 1.5em;
        padding-top: 3px;
    } 
    .btnc1 {
        text-decoration: none;
        background-color: #ff5a30;
        padding: 15px 37px;
        color: #fff;
        font-weight: bold;
        font-size: 0.8em;
        border-radius: 2px;
    }  
}














