#mail_send {
	max-width: 485px;
	max-height: 685px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	.name {
		background-color: #f4f5f6;
		color: #9a9ca5;
		width: 100%;
		margin-bottom: 30px;
		margin-right: 25px;
		margin-left: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.email {
		background-color: #f4f5f6;
		color: #9a9ca5;
		margin-bottom: 40px;
		margin-right: 25px;
		margin-left: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
#mail_send .btn.s4 {
  	display: block;
  	width: 100%;
  	color: #fff;
  	background-color: #ff5a30;
  	margin-right: 25px;
	margin-left: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#mail_send .field_area {
  	text-align: left;
  	.email {
  		width: 100%;
  	}
  	.emlabel {
  		display: block;
  		color: #5a5c67;
  		margin-right: 25px;
		margin-left: 25px;
		padding-bottom: 15px;
  	}
}
#mail_send .field_area.c1 {
	text-align: center;
}